{% block __oro_product_list_item__acme_cg_inventory_status_label_widget %}
    {# Product can be an object or an array, or we might have 'item' instead of 'product' #}
    {% set productData = product|default(item|default(null)) %}
    
    {# For related products, check if product has id property even if it looks empty #}
    {% if productData and productData.id is defined %}
        {# Product is an object with properties, build array from it #}
        {% set productData = {
            'id': productData.id,
            'sku': productData.sku|default(sku|default('')),
            'name': productData.name|default(name|default('')),
            'inventory_status': inventory_status|default('in_stock')
        } %}
    {% elseif productData is iterable and productData is empty and product.id is defined %}
        {# Product object appears empty but has properties #}
        {% set productData = {
            'id': product.id,
            'sku': product.sku|default(sku|default('')),
            'name': product.name|default(name|default('')),
            'inventory_status': inventory_status|default('in_stock')
        } %}
    {% endif %}
    
    {% if productData %}
        {# Check if we can get inventory status #}
        {% if productData is iterable and productData.product is defined %}
            {% set actualProduct = productData.product %}
        {% else %}
            {% set actualProduct = productData %}
        {% endif %}
        
        {% if actualProduct %}
            {% set status = acme_cg_inventory_status(actualProduct) %}
            {% set label = acme_cg_inventory_label(actualProduct) %}
            
            <div class="product-item__inventory">
                {% if status == 'in_stock' %}
                    <span class="badge badge--success badge--xs">{{ label|trans }}</span>
                {% elseif status == 'out_of_stock' %}
                    <span class="badge badge--danger badge--xs">{{ label|trans }}</span>
                {% elseif status == 'backorder' %}
                    <span class="badge badge--warning badge--xs">{{ label|trans }}</span>
                {% elseif status == 'pre_order' %}
                    <span class="badge badge--info badge--xs">{{ label|trans }}</span>
                {% else %}
                    <span class="badge badge--xs">{{ label|trans }}</span>
                {% endif %}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}