{% block ___acme_cg_inventory_status_label_widget %}
    {% set inventory = block.vars.inventory|default(null) %}
    {% if inventory %}
        <div class="product-item__inventory">
            {% if inventory.status == 'in_stock' %}
                <span class="badge badge--success badge--xs">{{ 'In Stock'|trans }}</span>
            {% elseif inventory.status == 'out_of_stock' %}
                <span class="badge badge--danger badge--xs">{{ 'Out of Stock'|trans }}</span>
            {% elseif inventory.status == 'backorder' %}
                <span class="badge badge--warning badge--xs">{{ 'Backorder'|trans }}</span>
            {% elseif inventory.status == 'pre_order' %}
                <span class="badge badge--info badge--xs">{{ 'Pre-order'|trans }}</span>
            {% else %}
                <span class="badge badge--xs">{{ inventory.status|replace({'_': ' '})|title|trans }}</span>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}